@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lexend:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    outline: none;
}

main {
    display: flex;
    gap: 50px;

    & img {
        width: 45%;
        height: 100vh;
        object-fit: cover;
        overflow-x: hidden;
    }

    & .container {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 55%;

        & .login {
            border: 0.6px #878787 solid;
            border-radius: 10px;
            width: 504px;
            padding: 35px;

            & header {
                & h1 {
                    font-size: 25px;
                    font-weight: 300;
                }

                & .subtitle {
                    & h2 {
                        font-size: 31px;
                        font-weight: 500;
                    }

                    & p {
                        font-size: 16px;
                        font-weight: 400;
                        width: 260px;
                        margin-bottom: 36px;
                    }
                }
            }

            & form {
                display: flex;
                flex-direction: column;
                gap: 38px;

                & .input-form{
                    display: flex;
                    flex-direction: column;
                    gap: 9px;

                    & input {
                        border: 0.6px #282828CC solid;
                        padding: 19px 27.7px;
                        border-radius: 6px;
                    }

                    & .input-senha {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        border: 0.6px #282828CC solid;
                        border-radius: 6px;
                        padding-right: 27px;

                        & input {
                            border: none;
                            width: 100%;
                        }

                        & img {
                            width: 21.55px;
                            height: 18.13px;
                            cursor: pointer;
                        }
                    }
                }

                & .checkbox {
                    display: flex;
                    justify-content: space-between;
                    font-size: 12px;
                    font-weight: 300;

                    & .lembrar {
                        display: flex;
                        gap: 3px;
                    }

                    & a {
                        text-decoration: none;
                        color: #4D4D4D;
                    }
                }

                & .btn {
                    padding: 18px;
                    background-color: #111111;
                    border: 0.5px solid #878787;
                    border-radius: 10px;
                    color: white;
                    font-weight: 500;
                    cursor: pointer;
                }

                & .btn:hover {
                    background-color: #1f1f1f;
                }
            }
        }
    }
}

@media screen and (max-width: 1111px) {
    main {
        gap: 0px;


       & .container {
        margin: 0px 20px;
       }
    }
}

@media screen and (max-width: 910px) {
    main {
        & .container {
            & .login {
                width: 400px;

                & header {
                    & h1 {
                        font-size: 22px;
                    }
    
                    & .subtitle {
                        & h2 {
                            font-size: 27px;
                        }
    
                        & p {
                            font-size: 15px;
                        }
                    }
                }

                & form {
                    & .input-form {
                        font-size: 14px;
                        
                        & input {
                            padding: 15px 22px;
                        }
                    }

                    & .btn {
                        height: 45px;
                        padding: 0px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 663px) {
    main {
        flex-direction: column;

        & > img {
            display: none;
        }

        & .container {
            width: 100%;
            height: 100vh;
            background-image: url(img-train.svg);
            margin: 0;

            & .login, .input-senha {
                background-color: rgba(255, 255, 255, 0.90);
                border: none;
            }
        }
    }
}

@media screen and (max-width: 419px) {
    main {
        & .container {
            & .login {
                width: 370px;

                & header {
                    & h1 {
                        font-size: 21px;
                    }
    
                    & .subtitle {
                        & h2 {
                            font-size: 25px;
                        }
    
                        & p {
                            font-size: 14px;
                            width: 250px;
                        }
                    }
                }

                & form {
                    & .input-form {
                        font-size: 14px;
                        
                        & input {
                            padding: 12px 20px;
                            font-size: 13px;
                        }
                    }

                    & .btn {
                        height: 45px;
                        padding: 0px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 392px) {
    main {
        & .container {
            & .login {
                width: 340px;

                & header {
                    & h1 {
                        font-size: 21px;
                    }
    
                    & .subtitle {
                        & h2 {
                            font-size: 25px;
                        }
    
                        & p {
                            font-size: 14px;
                            width: 250px;
                        }
                    }
                }

                & form {
                    & .input-form {
                        font-size: 14px;
                        
                        & input {
                            padding: 12px 20px;
                            font-size: 13px;
                        }
                    }

                    & .btn {
                        height: 45px;
                        padding: 0px;
                    }
                }
            }
        }
    }
}
